<%= form_tag(boards_path, method: :get, class: "mb-3") do %>
  <div class="d-flex align-items-end">
    <div class="mb-2">
      <%= label_tag :name_cont, "Board Name contains", class: "form-label" %>
      <%= text_field_tag :name_cont, params[:name_cont], class: "form-control" %>
    </div>

    <div class="mb-2 ms-3">
      <%= label_tag :email_cont, "Creator Email contains", class: "form-label" %>
      <%= text_field_tag :email_cont, params[:email_cont], class: "form-control" %>
    </div>

    <button type="submit" class="btn btn-primary button-filter btn-sm ms-3">Filter</button>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Created at</th>
      <th>WIDTH</th>
      <th>HEIGHT</th>
      <th>MINES</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, board %></td>
        <td><%= board.email %></td>
        <td><%= board.created_at.strftime("%B %d, %Y, %H:%M") %></td>
        <td><%= board.width %></td>
        <td><%= board.height %></td>
        <td><%= board.mines %></td>
        <td class='d-flex'>
          <%= link_to 'Edit', edit_board_path(board), class: 'btn btn-primary btn-sm mr-2 me-2', remote: true %>
          <%= link_to "Destroy", board_path(board), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class:'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
